<%- include('../partials/header') %>
<div>
<% if (cuisines.length) { %>
  <% cuisines.forEach(function(c) { %>
    <a href="/cuisines/<%= c._id %>"><p><%= c.name %></p></a>
    <% if(user.admin) { %>
      <form action="/cuisines/<%= c._id %>?_method=DELETE" class="delte-form" method="POST">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
      </form>
    <% } %>
  <% }); %>
<% } else { %>
<h3>Please Add cuisines</h3>
<% } %>
</div>
<%- include('../partials/footer') %>