<%- include('../partials/header') %>
<span>
  <h1><%= title %>
    <button type="submit" class="btn waves-effect black add-btn white-text"> 
      <% if(user.admin) { %>
      <a class="add white-text" href="/cuisines/<%= cuisine._id %>/recipes/new">Add recipe 
        <i class="material-icons right white-text">local_dining</i>
      </a>
      <% } %>
    </button>
  </h1>
</span>

<div>
<% recipe.forEach(function(r) { %>
  <header>
    <p class="recipe-title"> <%= r.title %></p>
  </header>
  <div class="row">
    <div class="col s12 ">
      <a href="/recipes/<%= r.id %>">
        <div class="card-image">
          <img class="recipe-image" src="<%= r.recipeImageUrl %>" alt="recipe-image">
        </div>
      </a>
    </div>
    <div class="recipe-content">
      <p> <%= r.note %> </p>
    </div>
  </div>
      <hr>
      <footer>
        <div class="footer-icon">
          <% if(user.admin) { %>
            <form action="/recipes/<%= r._id %>?_method=DELETE" class="delte-form" method="POST">
              <button type="submit" class="waves-effect black btn-small delete-btn">
                <i class="small material-icons white-text">delete_outline</i>
              </button>
            </form>
          <% } %>
          <span>
            <i class="tiny material-icons">date_range</i>
            <time><%= r.createdAt.toLocaleDateString() %></time>
          </span>
        </div>
        <div>
          <span>
            <i class="tiny material-icons"><%= cuisine.icornName %></i>
            <%= cuisine.name %>
          </span>
        </div>
      </footer>
  <% }); %>
</div>


<%- include('../partials/footer') %>